@page "/addimage"
@using BlazorBooking.Client.Services.Image;
@using BlazorBooking.Shared.Models.Image;
@using Microsoft.JSInterop;
@inject NavigationManager NavigationManager
@inject IImageService IImageService
@inject IJSRuntime JSRuntime;

<PageTitle>Create Image</PageTitle>

<h3>Create Image</h3>

<div class="row">
    <div class="col-sm-4">
        <EditForm Model="@imageDto" OnSubmit="AddImage">
            <div class="mb-3">
                <label for="name" class="form-label">Image:</label>
                <InputFile OnChange="HandleFileChange"></InputFile>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
        </EditForm>
    </div>
</div>

@code {
    private ImageDto imageDto = new()
    {
            PhotoResource = null
    };
    protected override async Task OnInitializedAsync()
    {
        await AddImage();
    }

    private async Task AddImage()
    {
        if (imageDto.PhotoResource != null)
        {
            imageDto = await IImageService.CreateImage(imageDto);
            NavigationManager.NavigateTo("/images");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/images");
    }

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using (var memoryStream = new MemoryStream())
        {
            await file.OpenReadStream().CopyToAsync(memoryStream);
            imageDto.PhotoResource = memoryStream.ToArray();
        }
    }
}
