@page "/"
@using BookingManagementBlazor.Models.Reservation;
@using BookingManagementBlazor.Services.Reservation;


@inject IReservationService IReserService

<PageTitle>Index</PageTitle>

<h1>Reservation List Test</h1>

<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservationTest in reservationTestsList)
        {
            <tr>
            <td>@reservationTest.Id</td>
            <td>@reservationTest.Name</td>
            </tr>
        }
    </tbody>
</table>


@code{
    private List<ReservationTest> reservationTestsList = new List<ReservationTest>();

    protected override async Task OnInitializedAsync()
    {
        await GetReservations();
    }
    private async Task GetReservations()
    {
        reservationTestsList = await IReserService.GetReservations();
    }
}
