@page "/reservations"
@using BookingManagementBlazor.Data;
@using BookingManagementBlazor.Services;
@inject IReservationService IReserService

<PageTitle>Reservations</PageTitle>

<h1>Reservation List API</h1>




<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>StartDate</th>
            <th>EndDate</th>
        </tr>
    </thead>
    <tbody>

        @if (ReservatiuonResponse.Reservations == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var reservation in reservationsList)
            {
                @foreach (var reservationElement in reservation.Reservations)
                {    <tr>
                        <td>@reservationElement.Id</td>
                        <td>@reservationElement.StartDate</td>
                        <td>@reservationElement.EndDate</td>
                     </tr>
                }
            }
        }
    </tbody>
</table>


@code {
    public ReservationsVm ReservatiuonResponse = new ReservationsVm();
    public List<ReservationsVm> reservationsList = new List<ReservationsVm>();

    protected override async Task OnInitializedAsync()
    {
        await GetReservations();
    }
    private async Task GetReservations()
    {
        ReservatiuonResponse = await IReserService.GetReservationsBookingAPI();
        reservationsList.Add(ReservatiuonResponse);
    }
    
}